.date-pick1 {
    .MuiInputLabel-formControl {
        top: 3px;
        left: 5px;
    }
}
.ant-picker{
    border: 1px solid #c4c4c4;
    border-radius: 4px;
    background: #fffafa;
    min-height: 40px;
}
.ant-picker-range .ant-picker-input {
    min-height: 32px;
    border-radius: 7px;
    border: 1px solid #e6f3f3;
    border-right: none;
    padding-left: 12px;
    background-color: white;
}
.ant-picker-input input {
    color: black !important; /* Change to your desired color */
}