@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 240 10% 3.9%;
		--card: 0 0% 100%;
		--card-foreground: 240 10% 3.9%;
		--popover: 0 0% 100%;
		--popover-foreground: 240 10% 3.9%;
		--primary: 240 5.9% 10%;
		--primary-foreground: 0 0% 98%;
		--secondary: 240 4.8% 95.9%;
		--secondary-foreground: 240 5.9% 10%;
		--muted: 240 4.8% 95.9%;
		--muted-foreground: 240 3.8% 46.1%;
		--accent: 240 4.8% 95.9%;
		--accent-foreground: 240 5.9% 10%;
		--destructive: 0 72.22% 50.59%;
		--destructive-foreground: 0 0% 98%;
		--border: 240 5.9% 90%;
		--input: 240 5.9% 90%;
		--ring: 240 5% 64.9%;
		--radius: 0.5rem;
	}

	/* .dark {
		--background: 240 10% 3.9%;
		--foreground: 0 0% 98%;
		--card: 240 10% 3.9%;
		--card-foreground: 0 0% 98%;
		--popover: 240 10% 3.9%;
		--popover-foreground: 0 0% 98%;
		--primary: 0 0% 98%;
		--primary-foreground: 240 5.9% 10%;
		--secondary: 240 3.7% 15.9%;
		--secondary-foreground: 0 0% 98%;
		--muted: 240 3.7% 15.9%;
		--muted-foreground: 240 5% 64.9%;
		--accent: 240 3.7% 15.9%;
		--accent-foreground: 0 0% 98%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 85.7% 97.3%;
		--border: 240 3.7% 15.9%;
		--input: 240 3.7% 15.9%;
		--ring: 240 4.9% 83.9%;
	} */
}

@layer base {
	* {
		@apply border-border;
	}

	body {
		@apply bg-background text-foreground;
	}
}

@layer utilities {
	.backdrop-blur-custom {
		@apply backdrop-blur-xl;
		-webkit-backdrop-filter: blur(24px);
		backdrop-filter: blur(24px);
	}
}

.active-border {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	background: linear-gradient(180deg, #1db954 0%, #0d5326 100%);
}

.radio-dropdown,
.radio-dropdown ul {
	max-width: 175px;
	width: 100%;
}

input[type="radio"].radio-dropdown-input {
	accent-color: green;
}

.split-input {
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	/* Firefox */
	input[type="number"] {
		-moz-appearance: textfield;
	}
}

/* Custom scrollbar styles */
.scrollbar {
	padding-right: 16px;
}

.scrollbar::-webkit-scrollbar {
	width: 4px;
	height: 4px;
}

.scrollbar::-webkit-scrollbar-thumb {
	background: linear-gradient(180deg, #1db954 0%, #0d5326 100%); /* Green */
	border-radius: 4px;
}

.scrollbar::-webkit-scrollbar-track {
	background: #f4f4f4; /* Light gray */
	border-radius: 8px;
}

/* Grey scrollbar */
.grey-scrollbar::-webkit-scrollbar {
	width: 8px;
}

.grey-scrollbar::-webkit-scrollbar-thumb {
	background: #f1f1f1;
	border-radius: 8px;
}

.grey-scrollbar::-webkit-scrollbar-track {
	background: transparent;
}

.tw-connected-wallet__address {
	font-family: Manrope, sans-serif !important;
	color: #fff !important;
	font-weight: 700 !important;
}

.tw-connected-wallet > div:first-child {
	display: none !important;
}
.tw-connected-wallet > div:nth-child(2) {
	width: 100% !important;
}

.tw-connected-wallet > div:nth-child(2) > span:first-child {
	text-align: center;
}

.tw-connected-wallet__balance {
	display: none !important;
}

.rbc-event {
	background-color: transparent !important;
	padding: 0 !important;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.ql-container {
	border: none !important;
}

.nft-swiper .swiper-slide {
	width: auto !important;
}

/* NFT Grid responsive layout */
.nft-grid {
	grid-template-columns: repeat(auto-fit, minmax(244px, 244px)) !important;
}

@media (min-width: 1440px) {
	.nft-grid {
		grid-template-columns: repeat(auto-fill, minmax(244px, 244px)) !important;
	}
}

.str-video__menu-container {
	z-index: 9 !important;
}

.str-video__livestream-layout__wrapper {
	max-height: 600px !important;
}

.wallet-select-listbox ul {
	width: 130px !important;
}

@media (max-width: 1280px) {
	.str-chat__main-panel {
		max-height: 300px !important;
	}
}

/* getStream.io Chat Thread open styles in livestream */
.threadOpen .str-chat__main-panel--thread-open {
	display: none !important;
}

.threadOpen .str-chat__main-panel--thread-open + .str-chat__thread {
	flex: 1 !important;
}

.threadOpen .str-chat__thread-container {
	border-inline-start: none !important;
}

.threadOpen .str-chat__thread .str-chat__main-panel-inner {
	height: 100% !important;
}

.threadOpen .str-chat__message-input {
	padding: 0px !important;
}

.str-video__livestream-layout__viewers-count {
	color: #fff !important;
}

.str-video__livestream-layout__duration {
	color: #fff !important;
}

.highlight-links a {
	color: #2563eb; /* or use a blue like #2563eb for blue-600 */
	text-decoration: underline;
}

.avatar-border-gold {
	position: relative;
}

.avatar-border-gold::before {
	content: "";
	position: absolute;
	top: -3px;
	right: -3px;
	bottom: -3px;
	left: -3px;
	border-radius: 9999px;
	background: linear-gradient(180deg, #ffef09 0%, #daa90a 83.41%);
	z-index: 0;
}

/* Silver border (2nd place) */
.avatar-border-silver {
	position: relative;
}

.avatar-border-silver::before {
	content: "";
	position: absolute;
	top: -3px;
	right: -3px;
	bottom: -3px;
	left: -3px;
	border-radius: 9999px;
	background: linear-gradient(180deg, #e6e6e6 0%, #808080 100%);
	z-index: 0;
}

/* Bronze border (3rd place) */
.avatar-border-bronze {
	position: relative;
}

.avatar-border-bronze::before {
	content: "";
	position: absolute;
	top: -3px;
	right: -3px;
	bottom: -3px;
	left: -3px;
	border-radius: 9999px;
	background: linear-gradient(180deg, #f0b364 0%, #8a673a 100%);
	z-index: 0;
}

.line-clamp-4 {
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal;
}
