<p>User has invited you to the <strong>{{projectName}}</strong> project on Guild.</p>
<p>Join their creative collaboration by clicking <a href="{{url}}">here</a>.</p>
<br />
<p><strong>Phillip Rather</strong></p>
<p>Founder and CEO</p>
<p><a href="https://musicalapp.com">musicalapp.com</a></p>
<p><a href="https://www.linkedin.com/in/philliprather/">LinkedIn Profile</a></p>