<h4>{{name}} invited you to join Guild<br /><br /></h4>

<p>
  The Guild platform is nearing completion, but is still in private BETA and
  invite only. We are creating tight circles of users, testing the product, and
  providing feedback. Early users will be airdropped coins for being the first
  contributors. AKA ownership and governance in the project.
  <br /><br />
</p>

<p>
  Please click below to set up your desktop account:
  <br />
</p>

<p>
  <a href='{{url}}'>Use this link to create a Guild account</a>
  <br /><br />
</p>

<p>
  You can download the mobile Apps here and enter this code as required:
  <br />
</p>

<p>
  <a href={{appIos}}>iOS Link</a>
  <br />
</p>

<p>
  <a href={{appAndroid}}>Android link</a>
  <br /><br />
</p>

<p>
  Once you are logged into the platform, do these things!
  <br />
</p>

<ul style='list-style:decimal;line-height:1.6'>
  <li>
    Set up a profile with details on the music you are into
  </li>
  <li>
    Import audio files into the system via mic, computer, phone or cloud (some
    integrations are still updating)
  </li>
  <li>
    Create a collab opportunity for the community, or start a project with an
    idea and invite partners
  </li>
  <li>
    Invite 10 amazing artists you want in early via email in the dashboard.
    These should be yor people and the best you know.
  </li>
</ul>

<p>
  Get in there and make some magic! We have world class musicians from all
  genres joining alongside you, and great collaborations are starting now. Many
  of these will be auctioned as NFTs, some as the limited Genesis Collection
  from Guild itself launching in summer.
  <br /><br />
</p>

<p>
  Provide feedback or report bugs here. It is a gift that is greatly
  appreciated.
  <br /><br />
</p>

<h4>LFG</h4>
<h4>Phillip Rather</h4>
<h4>Founder and CEO</h4>
<p>
  <a href='https://musicalapp.com'>https://musicalapp.com</a>
</p>
<p>
  <a href='https://www.linkedin.com/in/philliprather/'>https://www.linkedin.com/in/philliprather</a>
</p>